<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CryPixivClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CryPixivClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CryPixivClient.Properties.Settings>
            <setting name="MinUsernameLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinPasswordLength" serializeAs="String">
                <value>2</value>
            </setting>
        </CryPixivClient.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CryPixivClient.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AuthIssued" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthExpiresIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AuthAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DetailWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DetailWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DetailWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloaderWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloaderWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloaderWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloaderWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="NSFW" serializeAs="String">
                <value>True</value>
            </setting>
        </CryPixivClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>