CryPixivClient/obj/
CryPixivClient/bin/
Pixeez/bin/
packages/
Pixeez/obj/
.vs/CryPixivClient/v15/.suo
.vs/CryPixivClient.sqlite
CryPixivUpdater/obj/
CryPixivUpdater/bin/
.vs/CryPixivClient/v15/sqlite3/storage.ide

\.vs/CryPixivClient/v15/Server/sqlite3/
